<div class="container about">
  <div class="row">
    <div class="col-md-4">
      <div class="avatar">
        <img class="img" src="assets/images/65891556_475973683206536_1626650921272344576_n.jpg">
        <div class="name">
          <span>Nguyễn Đình Dương</span>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3>Xin chào!</h3>
      <br>
      <h6>Tôi là Nguyễn Đình Dương - 21 tuổi. Quê quán ở Thụy Hải, Thái Thụy, Thái Bình.
        Hiên tại, Tôi đang là một nhân viên phát triển website (Web Developer). Ngôn ngữ tôi thường dùng để phát triển một trang web là Angular và TypeScript.</h6>
      <br>
      <h6>
        Tôi từng là sinh viên của trường Cao đẳng Thực hành FPT Polytechnic, tôi học chuyên hàng Công nghệ thông tin - Ứng dụng phần mềm và đã ra trường hồi tháng 8/2021.
      </h6>
      <br>
      <h6>
        Hiện tại tôi đang là nhân viên của Công ty TNHH MTV Bưu Chính Viettel. Và tôi đã làm trong công ty được 8 tháng với chức vụ nhân viên phát triền website.
      </h6>
    </div>
  </div>
  <app-menu-profile></app-menu-profile>
</div>
