.menu {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.menu-option {
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #ffffff;
}
.menu-home {
  border-bottom: 2px solid red;
}
.icoin-option {
  padding: 10px 30px;
  cursor: pointer;
}

.menu .menu-option:hover{
  color:#EE0033 !important;
  border-bottom: 2px solid #EE0033;
  background-color: #fff6f9;
}
.active {
  color:#EE0033 !important;
  border-bottom: 2px solid #EE0033;
}
