.menu {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.menu-option {
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}
.menu-option:hover {
  background: #e0e0eb;
}
.menu-home {
  border-bottom: 2px solid red;
}
.icoin-option {
  padding: 10px 30px;
  cursor: pointer;
}
