<div id="menuID" class="menu" >
  <div class="menu-option" id="home" (click)="onClick('')">
    Home
  </div>
  <div class="menu-option" id="about" (click)="onClick('/about')">
    About
  </div>
  <div class="menu-option" id="other" (click)="onClick('/other')">
    Other
  </div>
</div>
<div class="menu mt-2">
  <div class="icoin-option">
    <a href="https://www.facebook.com/profile.php?id=100023817254578" target="_blank"><img src="assets/images/Icon_Facebook.svg.png" width="20px"></a>
  </div>
  <div class="icoin-option">
    <a href="https://www.instagram.com/thinn_2k/" target="_blank"><img src="assets/images/240px-Instagram_simple_icon.svg.png" width="20px"></a>
  </div>
  <div class="icoin-option">
    <a href="https://github.com/nddduong2000" target="_blank"><img src="assets/images/2048px-Octicons-mark-github.svg.png" width="20px"></a>
  </div>
  <div class="icoin-option">
    <a href="https://twitter.com/?lang=vi" target="_blank"><img src="assets/images/5ca98c73b2bb7a02bf8350933c7ca443.png" width="25px"></a>
  </div>
</div>
